# Packages
composer.phar
vendor
node_modules

# Environment
.env
.env.backup
.env.production

# Build
build
dist
compiled

# System/Editor
.idea

# Leaf
.hana
.alchemy
hot
storage/framework
storage/logs

# Logs
npm-debug.log
yarn-error.log
