/* Styles généraux pour le mode nuit */
body.nuit {
    background-color: #15141A;
    color: #ffffff;
}

/* Inverser les couleurs des textes spécifiques pour le mode nuit */
body.nuit h1,
body.nuit h2,
body.nuit h3,
body.nuit h4,
body.nuit h5,
body.nuit h6,
body.nuit p,
body.nuit a,
body.nuit span,
body.nuit div,
body.nuit td,
body.nuit th,
body.nuit label {
    color: #ffffff;
}

/* Navbar en mode nuit */
body.nuit .navbar {
    background-color: #15141A;
    border-bottom: 1px solid #3c3c42;
}

body.nuit .navbar .navbar-brand,
body.nuit .navbar .navbar-nav .nav-link,
body.nuit .navbar .dropdown-menu {
    color: #ffffff;
}

body.nuit .navbar .dropdown-menu {
    background-color: #3c3c42;
    border: none;
}

/* Footer en mode nuit */
body.nuit .footer {
    background-color: #15141A;
    color: #ffffff;
}

/* Modal en mode nuit */
body.nuit .modal-content {
    background-color: #15141A;
    color: #ffffff;
}

/* Dropdown en mode nuit */
body.nuit .dropdown-menu {
    background-color: #15141A;
    color: #ffffff;
}

/* Input en mode nuit */
body.nuit input.form-control,
body.nuit textarea {
    background-color: #15141A;
    color: #ffffff;
    border-color: #3c3c42;
}

/* Checkbox en mode nuit */
body.nuit input.form-check-input {
    background-color: #3c3c42;
    border-color: #3c3c42;
    color: #ffffff;
}

/* Select en mode nuit */
body.nuit select {
    background-color: #15141A;
    color: #ffffff;
    border-color: #3c3c42;
}

/* Progress en mode nuit */
body.nuit .progress {
    background-color: #222225;
    color: #ffffff;
}

/* Alert en mode nuit */
body.nuit .alert {
    background-color: #0d5959;
    color: #ffffff;
}

/* Tables en mode nuit */
body.nuit .table {
    background-color: #222225;
    color: #ffffff;
}

body.nuit .table th,
body.nuit .table td {
    border-color: #3c3c42;
}

/* Cartes en mode nuit */
body.nuit .card {
    background-color: #222225;
    color: #ffffff;
    border-color: #3c3c42;
}

body.nuit .card-header,
body.nuit .card-footer {
    background-color: #3c3c42;
    color: #ffffff;
}
