body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

table {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 0 auto;
}


td {
    width: 10px;
    border: 1px solid #000;
}

#black {
    background-color: #000000;
    width: 63px;
    height: 63px;
}

#white {
    background-color: #ffffff;
    width: 63px;
    height: 63px;
}

#black:hover {
    background-color: #ff0000;
}

#white:hover {
    background-color: #00ff00;
}

#black:active {
    background-color: #0000ff;
}

#white:active {
    background-color: #ffff00;
}

#black:hover::before {
    content: "X";
    color: #fff;
    font-size: 30px;
    text-align: center;
}

#white:hover::before {
    content: "O";
    color: #fff;
    font-size: 30px;
    text-align: center;
}










